<ion-header-bar>
    <h1 class="title">
        SMA Negeri 13 Jakarta
    </h1>
</ion-header-bar>
<ion-content>
    <center>
        <ion-slide-box style="padding-bottom: 8px;" auto-play="true" does-continue="true">
            <ion-slide>
                <div class="boxGambar">
                    <img src="img/sman13 (1).jpg" alt="Banner" class="gambar">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="boxGambar">
                        <img src="img/sman13.jpg" alt="Banner" class="gambar">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="boxGambar">
                    <img src="img/sman13 (2).jpg" alt="Banner" class="gambar">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="boxGambar">
                    <img src="img/sman13 (3).jpg" alt="Banner" class="gambar">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="boxMenu">
            <div class="row">
                <div class="col-33">
                    <a href="#/struktur" class="text-black">
                        <img src="img/structure.png" alt="Struktur" class="gambarMenu">
                        <p><small>Struktur</small></p>
                    </a>
                </div>
                <div class="col-33">
                    <a href="#/profil" class="text-black">
                        <img src="img/profile.png" alt="Profil" class="gambarMenu">
                        <p><small>Profil</small></p>
                    </a>
                </div>
                <div class="col-33">
                    <a href="#/visi&misi" class="text-black">
                        <img src="img/visimisi.png" alt="Visi&Misi" class="gambarMenu">
                        <p><small>Visi&Misi</small></p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-33">
                        <a href="#/berita" class="text-black">
                            <img src="img/news.png" alt="Berita" class="gambarMenu">
                            <p><small>Info</small></p>
                        </a>
                    </div>
                <div class="col-33">
                    <a href="#/fasilitas" class="text-black">
                        <img src="img/fasilitas.png" alt="Fasilitas" class="gambarMenu">
                        <p><small>Fasilitas</small></p>
                    </a>
                </div>
                <div class="col-33">
                    <a href="#/location" class="text-black">
                        <img src="img/location.png" alt="Lokasi" class="gambarMenu">
                        <p><small>Lokasi</small></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="row margin-top">
            <h5 class="text-black margin-0">Galeri Foto</h6>
        </div>
        <div class="boxGaleri">
            <ul class="galeri">
                <li class="listGaleri"></li>
                <li class="listGaleri"></li>
                <li class="listGaleri"></li>
                <li class="listGaleri"></li>
            </ul>
            <ul class="galeri2">
                <li class="listGaleri2"></li>
                <li class="listGaleri2"></li>
                <li class="listGaleri2"></li>
            </ul>
            <ul class="galeri3">
                <li class="listGaleri3"></li>
                <li class="listGaleri3"></li>
                <li class="listGaleri3"></li>
                <li class="listGaleri3"></li>
            </ul>
        </div>
    </center>
</ion-content>